@model DrakthulJelita.Web.ViewModels.ScreenshotEditVm

@{
	ViewData["Title"] = "Edit";

	var cdnBaseUrl = Cdn.Value.BaseUrl.TrimEnd('/');
}

@* <div asp-validation-summary="All" class="text-red-500"></div> *@

<main class="relative flex grow flex-col items-center justify-center gap-8 md:flex-row">
	<img
		src="@cdnBaseUrl/@Model.Display.Path"
		width="@Model.Display.Width"
		height="@Model.Display.Height"
		alt="@Model.Input.WowName"
		class="w-64 rounded shadow"
	/>

	<div class="card bg-base-200 shadow">
		<div class="card-body">
			<h1 class="card-title">Edit screenshot</h1>

			<form
				method="POST"
				asp-action="Edit"
				class="flex flex-col gap-4"
			>
				@Html.AntiForgeryToken()

				<label class="input">
					<span class="label">Name</span>
					<input
						type="text"
						asp-for="Input.WowName"
						required
						minlength="2"/>
				</label>

				<x-validation-error field="wowName"/>

				<div class="flex flex-col gap-1.5">
					@foreach (var wowClass in Model.WowClasses)
					{
						<div class="flex items-center gap-1" style="color: @wowClass.Color">
							<input
								type="radio"
								asp-for="Input.WowClassId"
								value="@wowClass.Id"
								required
								id="wowClass-@wowClass.Id"
								class="radio"/>

							<label for="wowClass-@wowClass.Id" class="capitalize">
								@wowClass.Name
							</label>
						</div>
					}

					<x-validation-error field="wowClassId"/>
				</div>

				<div class="flex justify-between gap-2">
					<button type="submit" class="btn btn-primary flex-1">Save</button>
					<button type="submit" class="btn btn-error flex-1" form="deleteScreenshot">
						Delete
					</button>
				</div>
			</form>

			<form
				method="POST"
				asp-action="Delete"
				id="deleteScreenshot"
			>
				@Html.AntiForgeryToken()
			</form>
		</div>
	</div>
</main>

